.volume-menu {
  min-width: 200px;
  background-color: red;
}

.volume-menu-box {
  min-width: 200px;
  margin-bottom: 10px;
  margin-top: 10px;
}

/*.volume-slider {
  margin-bottom: 10px;
  margin-top: 10px;
}*/
