

@import "/dev/null"

configuration {

    # Enable mouse hover and single click
    hover-select:        true;
    me-select-entry:     "";
    me-accetp-entry:     [MousePrimary, MouseSecondary, MouseDPrimary];
}