* {
  all: unset;
  font-family: "MartianMono Nerd Font";
  font-size: 10px;
}
//font-family: "CaskaydiaCove Nerd Font";

// Modules
@import "clock/clock";
@import "power/power";
@import "audio/audio";
@import "notification/notification";
@import "systemtray/systemTray";
@import "netspeed/netspeed";
@import "applauncher/applauncher";
@import "network/network";
@import "workspaces/workspaces";
@import "clienttitle/clientTitle";
@import "notification/notification";
@import "battery/battery";

// Common (for now)

menu {
  background-color: black;
  border: 0.1rem solid white;

  menuitem {
    background-color: black;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}

tooltip {
  background-color: rgba(0, 0, 0, 0.9);
  border: 0.1rem solid white;
  font-size: 2rem;
}

slider {
  min-height: 20px;
  min-width: 18px;
  margin: 0px;
}

slider {
  transition: all 75ms cubic-bezier(0, 0, 0.2, 1);
  border-radius: 9999px;
  color: black;
  background-color: black;
  box-shadow: inset 0 0 0 2px white;
}

slider:disabled {
  box-shadow: inset 0 0 0 2px mix(white, black, 50%);
}

slider:hover {
  box-shadow: inset 0 0 0 2px white, 0 0 0 8px transparentize(white, 0.9);
}

slider:active {
  box-shadow: inset 0 0 0 4px white, 0 0 0 8px transparentize(white, 0.7);
}
