.notification-widget {
  font-size: 1.5rem;
}

.notification-menu {
  min-width: 200px;
  min-height: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 0.1rem solid white;
}

.notification-scrollable {
  min-width: 400px;
  min-height: 400px;
}
