.network-menu {
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.9);
  border: 1px solid white;
}

.network-icon {
  font-size: 1.5rem;
}

.network-scrollable {
  min-height: 40em;
  min-width: 20em;
}
